$base-background-color: #2088c2;
$base-font-color: #fff;
$base-size: 28px;

$fa-font-path: "//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts" !default;
@import '../../node_modules/font-awesome/scss/font-awesome';

.sui-Button {
  display: inline-block;
  line-height: 28px;
  padding: 10px;
  color: #fff;
  font-family: 'Proximanova';
  font-size: 16px;
  font-weight: normal;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;

  -webkit-appearance: none;
  -webkit-border-radius: 0;
  min-width: 200px;
  border: 1px solid transparent;
  cursor: pointer;
  outline: none;

  &-icon {
    margin-right: 15px;
  }
  &--large {
    line-height: 46px;
  }

  &--extraLarge {
    line-height: 92px;
  }
}

.sui-Button.is-rest {
  color: $base-font-color;
  background-color: $base-background-color;
}

.sui-Button:hover,
.sui-Button.is-hover {
  color: $base-font-color;
  background-color: darken($base-background-color, 10%);
}

.sui-Button:active,
.sui-Button.is-active {
  color: $base-font-color;
  background-color: darken($base-background-color, 20%);;
}
.sui-Button.is-disabled {
  color: $base-font-color;
  background-color: grayscale($base-background-color);
}
